.card2 {
  background-color: #1f2228; 
  width: 400px; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin: 12% auto; 
  font-family: "Martian Mono";
}

.card2:hover {
  transform: scale(1.1); 
  box-shadow: 0 15px 30px rgba(0, 255, 150, 0.7); 
}

.card-content2 {
  display: flex;
  flex-direction: column;
  gap: 50px; 
}

.profile-section2 {
  display: flex; 
  align-items: center; 
  gap: 7px; 
}

.profile-image2 {
  width: 5rem;
  height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  border: 3px solid #98ff98;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image2:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0, 255, 150, 0.6);
}

.profile-link2 {
  color: #98ff98; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; 
  transition: color 0.3s ease;
}

.profile-link2:hover {
  color: #fff;
}

.phone-number {
  font-family: 'Montserrat' sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(7, 217, 0); 
  margin-right: -62%;
  margin-top: -38%; 
  text-shadow: 0 0 5px rgba(7, 217, 0, 0.7), 0 0 10px rgba(14, 217, 0, 0.5); 
  opacity: 0; 
  transform: translateY(-10px); 
  transition: opacity 0.4s ease, transform 0.4s ease; 
}

.card2:hover .phone-number {
  opacity: 1; 
  transform: translateY(0); 
}

.bar2 {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
  margin-left: 50%;
  margin-top: -15%;
}

.emptybar2 {
  background-color: #2e3033; 
  width: 100%;
  height: 100%;
}

.filledbar2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(7, 217, 0) 0%,
    rgb(14, 217, 0) 65%,
    rgb(34, 255, 0) 100%
  ); 
  width: 0%; 
  transition: width 0.4s ease-out; 
}

.card2:hover .filledbar2 {
  width: 100%;
}

.contact-letters-container {
  margin-left: 100%;
  margin-top: -100%;
}

.contact-letters-container div {
  font-size: 1rem; 
  font-weight: bold; 
  color: #000000; 
  margin: 35px 0; 
  animation: pulseTGlow 2.5s ease-out infinite;
}

@keyframes pulseTGlow {
  0% {
    text-shadow: 0 0 3px #98ff98, 0 0 5px #98ff98, 0 0 7px #98ff98;
  }
  50% {
    text-shadow: 0 0 5px #98ff98, 0 0 10px #98ff98, 0 0 15px #98ff98;
  }
  100% {
    text-shadow: 0 0 3px #98ff98, 0 0 5px #98ff98, 0 0 7px #98ff98;
  }
}
