:root {
    --lightsaber-hue: 218;
}

.cardcontainer-L {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-left: -55%;
    font-size: 9px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease; /* Smooth color transition */
    margin-right: 15%;
    font-family: "Martian Mono", monospace; 
  }

  .lightsaber {
    position: fixed;
    top: 80%; /* Initially at the center of the page */
    left: 94%;
    transform: translate(-50%, -50%); /* Center the lightsaber */
    z-index: 1;
    height: 50%; /* Reduced size */
    transition: top 0.1s ease-in-out; /* Smooth transition for top movement */
    margin-left: 5.5%;
}

.lightsaber__hilt {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    width: .75rem; /* Reduced width */
    height: 3rem; /* Reduced height */
    background: linear-gradient(90deg, #a6acad 0%, #a6acad 25%, #5d5f62 60%, #5d5f62 100%);
    box-shadow: inset -0.1em 0 0.2em rgba(0, 0, 0, 0.4);
}

.lightsaber__hilt:before {
    top: 1.4em; /* Adjusted position */
    width: 3.228rem; /* Reduced size */
    height: 3.8em; /* Reduced size */
    border-radius: 85% 15% 0.25em 0.25em;
    box-shadow: inset -0.1em 0 0.2em rgba(0, 0, 0, 0.33);
}

.lightsaber__hilt:after {
    bottom: 1.4em; /* Adjusted position */
    width: 4.228rem; /* Reduced size */
    height: 5.8em; /* Reduced size */
    border-radius: 0.25em 0.25em 0.5em 0.5em;
    border-top: 0.15em solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -0.1em -0.15em 0.2em rgba(0, 0, 0, 0.5);
}

.lightsaber__button {
    top: 4%; /* Adjusted button position */
    left: 12%; /* Adjusted button position */
    background: #191921;
    width: 7.36rem; /* Reduced size */
    height: 7.6rem; /* Reduced size */
    border-radius: 50%;
    box-shadow: 0 0.025em 0.2em rgba(0, 0, 0, 0.75);
}

.lightsaber__grip {
    right: 0;
    top: 65%; /* Adjusted grip position */
    transform: translateY(-50%);
    width: 6.55rem; /* Reduced width */
    height: 1.5rem; /* Reduced height */
    background: linear-gradient(90deg, #ffffff 0%, #0f0f0f 70%, #0f0f0f 100%);
    border-radius: 1.28rem 0 0 1.28rem;
}

.lightsaber__blade {
    z-index: 0;
    position: absolute;
    top: auto;
    right: auto;
    backface-visibility: hidden;
    bottom: calc(100% - 0.6rem); /* Adjusted bottom position */
    left: 0.1rem; /* Adjusted left position */
    height: 8rem; /* Reduced height */
    width: .5rem; /* Reduced width */
    background: #ffffff;
    border-radius: 60%/1.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 160ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    box-shadow: 0 0 1.5em hsla(var(--lightsaber-hue), 100%, 50%, 0.8),
                0 0 1.5em hsla(var(--lightsaber-hue), 100%, 50%, 0.7),
                0 0 2em hsla(var(--lightsaber-hue), 100%, 50%, 0.5),
                0 0 3em hsla(var(--lightsaber-hue), 100%, 50%, 0.3),
                0 0 5em hsla(var(--lightsaber-hue), 100%, 50%, 0.2);
}

.lightsaber__blade:before {
    background: hsl(var(--lightsaber-hue), 100%, 50%);
    filter: blur(0.6em);
    opacity: 1;
    animation: pulse linear 0.06s infinite;
}

#lightsaber__switch {
    position: absolute;
    width: 0;
    height: 0;
}

#lightsaber__switch:checked ~ .lightsaber__blade {
    transform: scaleY(1);
    transition: transform 80ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes pulse {
    50% {
        opacity: 0.6;
    }
}

.range-slider-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    max-width: 20em;
    width: 100%;
    border-radius: 0 0.5rem 0 0;
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.2);
}

.range-slider {
    display: flex;
    align-items: center;
    position: relative;
}

input#lightsaberHue {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 24px;
    background: transparent;
    outline: none;
}

input#lightsaberHue, input#lightsaberHue::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input#lightsaberHue::-webkit-slider-runnable-track {
    border: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

input#lightsaberHue::-moz-range-track {
    border: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

input#lightsaberHue::-ms-track {
    border: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

input#lightsaberHue::-webkit-slider-thumb {
    margin-top: -10px;
    cursor: pointer;
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: hsl(var(--lightsaber-hue), 100%, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16);
}

input#lightsaberHue::-moz-range-thumb {
    cursor: pointer;
    border: 4px solid white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: hsl(var(--lightsaber-hue), 100%, 50%);
}

@media (max-width: 767px) {
    .lightsaber {
        display: none; /* Completely hide the lightsaber on small screens */
    }
}

.range-slider {
    display: none;
    }

