html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center horizontally */
  background-color: #282c34; /* Dark background */
  padding: 0 10px; /* Some padding for smaller screens */
}

body {
  background-color: #282c34;
}

.header-image {
  position: absolute;
  margin-left: 2%;
  left: 0;
  width: 15%;
  height: 20%;
}

/* Navbar styling */
.navbar {
  display: flex; /* Use flexbox to align the items horizontally */
  justify-content: center; /* Center the nav items */
  align-items: center; /* Vertically align the nav items */
  margin-left: 50%;
}

.nav-list {
  list-style-type: none; /* Remove the bullet points */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  display: flex; /* Display list items horizontally */
  margin-top: 3%;
}

.nav-item {
  margin: 0 60px; /* Add spacing between the nav items */
}

.nav-link {
  font-family: "Martian Mono", monospace; ;
  font-size: 1.5rem;
  color: white; /* Set the link text color */
  text-decoration: none; /* Remove the underline from links */ /* Set a font size */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-link:hover {
  color:  #98ff98; /* Change color on hover to mint green (theme color) */
}

.centered-text {
  color: white; /* White text */
  font-size: 4rem; /* Adjust font size as needed */
  font-family: "Martian Mono", monospace;
  letter-spacing: 6px; /* Adjust the space between letters */
  margin-left: 3%;
  margin-top: 20px; /* Add some space above */
  margin-bottom: 3px; /* Add space below the name */
}

.greeting {
  font-size: 2rem; /* Adjust font size for the greeting */
  font-family: "Martian Mono", monospace;
  color: white;
  margin-left: 4%;
  margin-bottom: -10px; /* Add space below the greeting */
  animation: fadeIn 1s ease-out; /* Add fade-in effect for greeting */
  margin-top: 13%;
}

.title {
  font-size: rem; /* Adjust font size for the greeting */
  font-family: "Martian Mono", monospace;
  color: white;
  margin-left: 4%;
  animation: fadeIn 1s ease-out; /* Add fade-in effect for greeting */
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: colorChange 1s forwards;
  letter-spacing: 6px; /* Adds spacing between the letters */
  animation-delay: 5s; /* Delay animation for a second to make text appear white first */
}

.bio {
  font-size: 0.8rem; /* Adjust font size for the greeting */
  font-family: "Martian Mono", monospace;
  color: white;
  margin-left: 4%;
  margin-bottom: 125px; /* Add space below the greeting */
  animation: fadeIn 1s ease-out; /* Add fade-in effect for greeting */
  margin-right: 60%;
  margin-top: -0.5%;
  line-height: 1.5; /* Adjust the number as needed */
}


.profile-image {
  width: 550px;  /* Set a fixed size for the image */
  height: 550px; /* Set the same size for height */
  border-radius: 50%; /* Makes the image a circle */
  position: absolute;
  object-fit: cover; /* Ensures the image is fully contained within the circle */
  margin-left: 65%; /* Space between the text and image */
  border-style: solid;
  border-width: 8px;
  animation: pulseGlow 2s infinite alternate; /* Breathing effect */
  margin-top: -125%;
}

.hire-button {
  padding: 10px 10px; /* Adjust the padding to make the button smaller */
  background-color: #1f2228; /* Mint green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 50px; /* Pill shape */
  font-size: 1rem; /* Smaller font size */
  font-family: "Martian Mono", monospace; /* Matching font */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98; /* Subtle glow */
  max-width: 200px; /* Limit the maximum width of the button */
  width: auto; /* Make the width auto-adjust to the content */
  text-align: center; /* Center the text */
  margin-left: 4%;
  margin-top: -5%;
  margin-bottom: -15%;
}

.hire-button:hover {
  box-shadow: 0 0 10px 5px white, 0 0 15px 10px white, 0 0 20px 15px white; /* Glowing effect on hover */
  transform: scale(1.1); /* Slight scale up effect on hover */
}

.hire-button:focus {
  outline: none; /* Remove focus outline */
}

.crm-button {
  padding: 10px 10px; /* Adjust the padding to make the button smaller */
  background-color: #1f2228; /* Mint green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 50px; /* Pill shape */
  font-size: 1rem; /* Smaller font size */
  font-family: "Martian Mono", monospace; /* Matching font */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98; /* Subtle glow */
  max-width: 200px; /* Limit the maximum width of the button */
  width: auto; /* Make the width auto-adjust to the content */
  text-align: center; /* Center the text */
  margin-left: -26.5%;
  margin-top: 3%;
}

.crm-button:hover {
  box-shadow: 0 0 10px 5px white, 0 0 15px 10px white, 0 0 20px 15px white; /* Glowing effect on hover */
  transform: scale(1.2); /* Slight scale up effect on hover */
}

.crm-button:focus {
  outline: none; /* Remove focus outline */
}


.image-row {
  display: flex;
  gap: 12%; /* Add space between the images */
  margin-top: 25%; /* Adjust top margin as needed */
  margin-bottom: 5%;
}

.image {
  width: 250px;  /* Set the same width for all images */
  height: 250px; /* Set the same height for all images */
  object-fit: cover; /* Ensure the images fit the container without distortion */
  border-radius: 225px; /* Optional: round the corners */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
  animation: slideIn 1.5s ease-out forwards; /* Animation to slide in */
}

@keyframes slideIn {
  from {
    margin-left: -100%; /* Start off-screen to the left */
  }
  to {
    margin-left: 2%; /* End position at 5% margin-left */
  }
}


.image:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 20px 7px rgba(152, 255, 152, 0.7); /* Enhanced mint green shadow on hover */
}

.image2 {
  width: 425px;  /* Set the same width for all images */
  height: 400px; /* Set the same height for all images */
  object-fit: cover; /* Ensure the images fit the container without distortion */
  border-radius: 225px; /* Optional: round the corners */
  margin-top: 17%; 
  margin-left: 2%;
  animation: pulseGlow 6s infinite alternate; /* Breathing effect */
  display: flex;
}

.certH2 {
  position: absolute;
  font-size: 3rem;  /* Adjust the font size */
  font-weight: bold;
  text-align: left;
  color: #fff;  /* Adjust the text color */
  margin-left: 40%; /* Adjust if necessary */
  margin-top: -90%;
  animation: colorChange 1s forwards;
  letter-spacing: 2px; /* Adds spacing between the letters */
  animation-delay: 0.5s; /* Slight delay for animation */
}


.projectsStyle {
  position: absolute;
  font-size: 3rem;  /* Adjust the font size */
  font-weight: bold;
  text-align: left;
  color: #fff;  /* Adjust the text color */
  margin-left: 44%; /* Adjust if necessary */
  animation: colorChange 1s forwards;
  letter-spacing: 2px; /* Adds spacing between the letters */
  animation-delay: 0.5s; /* Slight delay for animation */
  margin-top: 1%;
}


.project-head1 {
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: "Martian Mono", monospace;
  position: absolute;
  margin-left: 35%;
  color: #1f2228;
  margin-top: 8.5%;
  animation: pulseTGlow 2.5s ease-out infinite;
}

@keyframes pulseTGlow {
  0% {
    text-shadow: 0 0 3px #98ff98, 0 0 5px #98ff98, 0 0 7px #98ff98;
  }
  50% {
    text-shadow: 0 0 5px #98ff98, 0 0 10px #98ff98, 0 0 15px #98ff98;
  }
  100% {
    text-shadow: 0 0 3px #98ff98, 0 0 5px #98ff98, 0 0 7px #98ff98;
  }
}

.technology {
  position: absolute;
  font-family: "Martian Mono", monospace;
  font-size: 1.5rem;
  color: white; /* Initial text color */
  margin-left: 30%;
  margin-top: 11.75%;
}


.scroll-container {
  position: absolute;
  width: 20%;
  height: 10%; /* Set the container height to make it smaller */
  overflow: hidden;
  color: #fff; /* White text */
  font-size: 1rem; /* Adjust font size as needed */
  margin-left: 41.5%;
  margin-top: 11%;
}

.scroll-text {
  font-family: "Martian Mono", monospace;
  display: inline-block;
  white-space: nowrap;
  animation: scroll 18s linear infinite;
  font-style: italic;
  color: #ff9900;
  -webkit-text-stroke: #146eb4;
  -webkit-text-stroke-width: 0.4px;
 
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.aws-service {
  color: #1f2228;
  -webkit-text-stroke-color: #98ff98;
  -webkit-text-stroke-width: 0.25px;
  font-weight: bold;
  font-size: 1.25rem;
  
}

.pushed-paragraph {
  margin-left: 65px;  /* Adjust the value to push it more to the right */
}

.project-details {
  font-family: "Martian Mono", monospace;
  position: absolute;
  padding: 30px;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 23%;
  margin-top: 14%;
}

.project-bullets {
  padding: 0;
}

.project-bullets li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 5%;
}

.project-head2 {
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: "Martian Mono", monospace;
  position: absolute;
  margin-left: 35%;
  color: #1f2228;
  margin-top: 48%;
  animation: pulseTGlow 2.5s ease-out infinite;
}

.languages {
  position: absolute;
  font-family: "Martian Mono", monospace;
  font-size: 1.5rem;
  color: white; /* Initial text color */
  margin-left: 30%;
  margin-top: 51%;
}

.scroll-container2 {
  position: absolute;
  width: 20%;
  height: 10%; /* Set the container height to make it smaller */
  overflow: hidden;
  color: #fff; /* White text */
  font-size: 1rem; /* Adjust font size as needed */
  margin-left: 39%;
  margin-top: 50.20%;
}

.scroll-text2 {
  font-family: "Martian Mono", monospace;
  display: inline-block;
  white-space: nowrap;
  animation: scroll 12s linear infinite;
  font-style: italic;
  color: white;
  -webkit-text-stroke: #98ff98;
  -webkit-text-stroke-width: 0.4px;
 
}


.project-details2 {
  font-family: "Martian Mono", monospace;
  position: absolute;
  padding: 30px;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 23%;
  margin-top: 51%;
}

.highlight {
  color: #1f2228;
  -webkit-text-stroke-color: #98ff98;
  -webkit-text-stroke-width: 0.25px;
  font-weight: bold;
  font-size: 1.25rem;
}

.project-bullets2 {
  padding: 0;
}

.project-bullets2 li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 8%;
}


.project-images {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.project-images .image2 {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.project-head3 {
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: "Martian Mono", monospace;
  position: absolute;
  margin-left: 35%;
  color: #1f2228;
  margin-top: 87%;
  animation: pulseTGlow 2.5s ease-out infinite;
}

.languages2 {
  position: absolute;
  font-family: "Martian Mono", monospace;
  font-size: 1.5rem;
  color: white; /* Initial text color */
  margin-left: 30%;
  margin-top: 90%;
}

.scroll-container3 {
  position: absolute;
  width: 20%;
  height: 10%; /* Set the container height to make it smaller */
  overflow: hidden;
  color: #fff; /* White text */
  font-size: 1rem; /* Adjust font size as needed */
  margin-left: 39%;
  margin-top: 89.2%;
}


.project-details3 {
  font-family: "Martian Mono", monospace;
  position: absolute;
  padding: 30px;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 23%;
  margin-top: 89%;
}

.highlight2 {
  color: #1f2228;
  -webkit-text-stroke-color: #98ff98;
  -webkit-text-stroke-width: 0.25px;
  font-weight: bold;
  font-size: 1.25rem;
}

.project-bullets3 {
  padding: 0;
}

.project-bullets3 li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 8%;
}


@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98;
  }
  50% {
    box-shadow: 0 0 10px 5px #98ff98, 0 0 15px 10px #98ff98, 0 0 20px 15px #98ff98;
  }
  100% {
    box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98;
  }
}

@keyframes colorChange {
  0% {
    opacity: 1;
    color: white; /* Start with white */
  }
  100% {
    opacity: 1;
    color: #98ff98; /* Transition to mint green */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .centered-text {
    font-size: 2.5rem; /* Smaller font for medium screens */
    letter-spacing: 4px;
    margin-left: 0;
  }

  .greeting {
    font-size: 1.8rem; /* Adjust greeting font size */
    margin-bottom: 10px;
  }

  .App {
    padding: 20px; /* More padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .centered-text {
    font-size: 2rem; /* Even smaller font size for small screens */
    letter-spacing: 3px;
  }

  .greeting {
    font-size: 1.5rem; /* Smaller greeting font */
  }
}

